* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgb(231, 222, 222);
  }

  .leftHeader {
            display: flex;
            justify-content: space-around;
            width: 50%;
            background-color: yellow;
 }

 .rightHeader {
            display: flex;
            justify-content: space-between;
            width: 50%;
            background-color: rgb(204, 82, 82);
            padding: 10px;
}

h2 {
    margin: 0 20px;
}
i {
    margin-top: 30px;
}
